body.login {
	background: #333333;
}
#login h1 a { 
    background-image: url("../images/logo-login.png");
    background-size: 100px auto;
    background-position: center;
    height: 100px;
    width: 100px;
    display: inline-block;
}